.env

.idea/
.vscode/


README.md
node_modules/
vendor/

logs/
temp/

*.log
*.sqlite
*.sqlite3
.DS_Store

.env.local
.env.development.local
.env.test.local
.env.production.local

.cache/

/build/
/dist/
/coverage/
/backend/nbproject/private/
